<span style="color:red; font-family:Helvetica Neue, Helvetica, Arial, sans-serif; font-size:2em;">An Exception was encountered at '<a href="#papermill-error-cell">In [2]</a>'.</span>

# Step 1: Reading about data set

Data Science Fields Salary Categorization Dataset contains 9 columns :

* Working Year - 2020, 2021, 2022 
* Designation 
* Experience - Entry level, Mid level, Senior level, Executive level
* Employment Status - Part time, Full time, Contract, Freelance 
* Gross Salary In Rupees 
* Employee Location - ISO 3166
* Company Location 
* Company Size
* Remote Working Ratio 

https://www.kaggle.com/datasets/whenamancodes/data-science-fields-salary-categorization?resource=download

![](https://assets.materialup.com/uploads/63ea9d4f-e3e2-4a03-8bf9-23a0fbe9aecc/preview.jpg)

# Step 2: Importing libraries

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import mlflow

import os
for dirname, _, filenames in os.walk('./data'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

./data\Data_Science_Fields_Salary_Categorization.csv

# Step 3: Importing the data set

<span id="papermill-error-cell" style="color:red; font-family:Helvetica Neue, Helvetica, Arial, sans-serif; font-size:2em;">Execution using papermill encountered an exception here and stopped:</span>

In [2]:
# Read the dataset above
df = pd.read_csv('./data/Data_Science_Fields_Salary_Categorization.csv')

#DESIGNATION = ['Data Scientist','Machine Learning Engineer']

df = df[df['Designation'].isin(DESIGNATION)]

# Display the 5 rows
df.sample(5)

NameError: name 'DESIGNATION' is not defined

In [ ]:
# delete one by one like column is 'Unnamed: 0' so use it's name
df.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
df.info()

In [ ]:
df.describe()

# Step 4: Exploring the salary distribution among disciplines over 3 years

In [ ]:
#for convenience, it was decided to count salaries in dollars, and the exchange rate was based on 09/15/2022, which is 1 rupees = 0.013 dollars.

df['Salary_In_Rupees'] = df['Salary_In_Rupees'].str.replace(',', '')
df['Salary_In_Rupees'] = pd.to_numeric(df['Salary_In_Rupees'])
df['Salary_In_Dollars'] = df['Salary_In_Rupees']*0.013

df.info()

In [ ]:
plt.figure(figsize = (20,60))

sns.catplot(x = 'Salary_In_Dollars',
            y = 'Designation',
            kind = "bar",
            height = 15,
            hue = 'Working_Year',
            aspect = 0.8,
            data = df).set(title = "Position vs Salary in dollars");

plt.xticks(rotation = 60)
plt.xlabel("Salary in dollars",fontsize=14)
plt.ylabel("Discipline",fontsize=14)

plt.show()

# Step 5: Exploring the salary distribution among disciplines depending on experience

In [ ]:
plt.figure(figsize = (20,60))

sns.catplot(x = 'Salary_In_Dollars',
            y = 'Designation',
            kind = "bar",
            hue = 'Experience',
            height = 15,
            aspect = 0.8,
            data = df).set(title = "Position vs Salary in dollars");

plt.xticks(rotation = 60)
plt.xlabel("Salary in dollars",fontsize=14)
plt.ylabel("Disciplines",fontsize=14)

plt.show()

# Step 6: Exploring the salary distribution among disciplines depending on employment status

In [ ]:
plt.figure(figsize = (20,60))

sns.catplot(x = 'Salary_In_Dollars',
            y = 'Designation',
            kind = "bar",
            hue = 'Employment_Status',
            height = 15,
            aspect = 0.8,
            data = df).set(title = "Position vs Salary in dollars");

plt.xticks(rotation = 60)
plt.xlabel("Salary in dollars",fontsize=14)
plt.ylabel("Disciplines",fontsize=14)

plt.show()

# Step 7: Exploring the salary distribution among employee locations depending on experience

In [ ]:
plt.figure(figsize = (10,25))

sns.catplot(x = 'Employee_Location',
            y = 'Salary_In_Dollars',
            kind = "bar",
            height = 10,
            hue = 'Experience',
            aspect = 2,
            data = df).set(title = "Sallary in dollars vs Employee Location");

plt.xticks(rotation = 90)
plt.xlabel("Employee Location",fontsize=14)
plt.ylabel("Sallary in dollars",fontsize=14)

plt.show()

# Step 8: Exploring the salary distribution among company locations depending on company size

In [ ]:
plt.figure(figsize = (10,25))

sns.catplot(x = 'Company_Location',
            y = 'Salary_In_Dollars',
            kind = "bar",
            height = 10,
            aspect = 2, 
            hue='Company_Size',
            data = df).set(title = "Sallary in dollars vs Company Location");

plt.xticks(rotation = 90)
plt.xlabel("Company Location",fontsize=14)
plt.ylabel("Salary In Dollars",fontsize=14)

plt.show()

# Step 9: Exploring the salary distribution among company locations depending on working conditions

In [ ]:
plt.figure(figsize = (10,25))

sns.catplot(x = 'Company_Location',
            y = 'Salary_In_Dollars',
            kind = "bar",
            height = 10,
            aspect = 2, 
            hue='Remote_Working_Ratio',
            data = df).set(title = "Sallary in dollars vs Company Location");

plt.xticks(rotation = 90)
plt.xlabel("Company Location",fontsize=14)
plt.ylabel("Salary In Dollars",fontsize=14)

plt.show()

# Step 10: Save on MlFlow

From https://www.kaggle.com/code/sultansagynov/eda-data-science-fields-salary-categorization